/*=============== HOME ===============*/
.thanks {
    background-color: var(--container-color);
    padding: 9rem 0 2rem;
    height: 100vh;
    display: grid;
  }
  
  .thanks__container {
    display: grid;
    align-content: center;
    row-gap: 2.5rem;
  }
  
  .thanks__data {
    text-align: center;
  }
  
  .thanks__title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin: .75rem 0;
  }
  
  .thanks__subtitle {
    font-size: var(--h2-font-size);
    margin: .75rem 0;
  }
  .thanks__button {
    margin-top: 2rem;
    display: inline-block;
    background-color: var(--title-color);
    color: #fff;
    padding: .80rem 1.5rem;
    border-radius: 3rem;
    transition: .4s;
  }
  
  .thanks__button:hover {
    box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
  }
  
  .thanks__img img {
    display: flex;
    align-self: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    border: 2px solid var(--first-color);
    animation: floaty 1.8s infinite alternate;
  }
  
  .thanks__img {
    justify-self: center;
  }
  
  .thanks__shadow {
    width: 130px;
    height: 24px;
    background-color: hsla(38, 21%, 19%, .16);
    margin: 0 auto;
    border-radius: 50%;
    filter: blur(7px);
    animation: shadow 1.8s infinite alternate;
  }
  
  .thanks__footer {
    display: flex;
    justify-content: center;
    column-gap: .5rem;
    font-size: var(--smaller-font-size);
    align-self: flex-end;
  }



  /* Animate ghost */
@keyframes floaty {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(15px);
    }
  }
  
  @keyframes shadow {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(.85, .85);
    }
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 320px) {
    .thanks {
      padding-top: 7rem;
    }
  }
  
 
  
  /* For large devices */
  @media screen and (min-width: 1024px) {
    .thanks__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 2rem;
    }
    .thanks__data {
      text-align: initial;
    }
    .thanks__img img {
      width: 400px;
    }
    .thanks__shadow {
      width: 250px;
      height: 40px;
    }
  }
  
  
  /* For 2K resolutions (2048 x 1152, 2048 x 1536) */
  @media screen and (min-width: 2048px) { 
    .thanks {
      height: initial;
      row-gap: 4rem;
    }
  }